<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ranger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ranger.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>http://ranger.zoller.dev/api/v1/</value>
            </setting>
            <setting name="DevApiKey" serializeAs="String">
                <value />
            </setting>
        </Ranger.Properties.Settings>
    </userSettings>
</configuration>